.button:hover{
	-fx-background-color: red;
	-fx-text-fill: white;
	
	
}

.button{
	-fx-background-color: black;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	
	-fx-border-width: 1;
	-fx-border-radius: 2;
}
.TextField{
	-fx-border-color:white;
}